[main]
host = https://www.transifex.com
lang_map =

[js-test.translations]
source_file = client/app/constants/translations/en.json
source_lang = en
type = KEYVALUEJSON
file_filter = client/app/constants/translations/<lang>.json

[js-test.remote_test]
source_file = client/app/translations/en.json
source_lang = en
type = KEYVALUEJSON
file_filter = client/app/translations/<lang>.json